/* CORE COLORS */
/* PRIMARY */
color-primary-0 = #AAD7CD
color-primary-1 = #DCBAA8
color-primary-2 = #4FB8A1
color-primary-3 = #F1A53C
color-primary-4 = #AEB2B1
color-primary-5 = #1E8F75
color-primary-6 = #046549

/* SECONDARY */
color-secondary-0 = #7DCC93
color-secondary-1 = #F76160
color-secondary-2 = #31355B
color-secondary-3 = #F8C687
color-secondary-4 = #21364B
color-secondary-5 = #E29470
color-secondary-6 = #66A7D5
color-secondary-7 = #FA6D68
color-secondary-8 = #679895

color-secondary-list = color-secondary-0 color-secondary-1 color-secondary-2 color-secondary-3 color-secondary-4 color-secondary-5 color-secondary-6 color-secondary-7 color-secondary-8

/* SPECIAL COLORS */
/* BASIC TEXT */
color-text = #000

/* BACKGROUND */
color-bg-dark-altern = #000
color-bg-dark = #000
color-bg = #F3F6F5
color-bg-b = #EEE


// FONTS
fon-xs()
    font-size 10px
fon-s()
    font-size 12px
fon-m()
    font-size 14px
fon-l()
    font-size 16px
fon-xl()
    font-size 18px
fon-xxl()
    font-size 22px
