{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block head_title %}{{ user.username }}{% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
{% avatar user %}
<ul class="list-inline">
    <li><a class="btn btn-lg btn-primary" href="{% url 'avatar_change' %}">Change your avatar</a></li>
    <li><a class="btn btn-lg btn-danger" href="{% url 'avatar_delete' %}">Delete your avatar</a></li>
</ul>

{% endblock %}
