{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block head_title %}{{ user.username }}{% endblock %}

{% block content %}

<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <figure class="text-center">
                        {% avatar user %}
                    </figure>
                    <h3>{{ user.username }}</h3>
                    <ul class="list-inline text-center">
                        <li><a class="btn btn-lg btn-primary" href="{% url 'avatar_change' %}">Change your avatar</a></li>
                        <li><a class="btn btn-lg btn-danger" href="{% url 'avatar_delete' %}">Delete your avatar</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock %}
