{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/signin_mepoe.css" %}">
{% endblock css %}


{% block content %}

{% user_display email_address.user as user_display %}

{% autoescape off %}
{% trans '<p>You have confirmed that <a href="mailto:'|add:email_address.email|add:'">'|add:email_address.email|add:'</a> is an e-mail address for user '|add:user_display|add:'.</p>' as body %}
{% include "head.html" with title="Confirm E-mail Address" body=body %}
{% endautoescape %}

{% endblock %}
