{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static "css/signin_mepoe.css" %}">
{% endblock %}

{% block content %}

{% url 'account_email' as email_url %}

{% autoescape off %}
{% trans '<p>This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address.</p><p>We have sent an e-mail to you for
verification. Please click on the link inside this e-mail. Please
contact us if you do not receive it within a few minutes.</p><p><strong>Note:</strong> you can still <a href="'|add:email_url|add:'">change your e-mail address</a>.</p>' as body %}
{% include "head.html" with title="Verify Your E-mail Address" body=body %}
{% endautoescape %}

{% endblock %}
