{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static "css/signin_mepoe.css" %}">
{% endblock %}

{% block content %}

{% autoescape off %}
{% trans '<p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>' as body %}
{% include "head.html" with title="Verify Your E-mail Address" body=body %}
{% endautoescape %}

{% endblock %}
