<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-list">
                    <li><a href="http://dribbble.com/seanehalpin">dribbble</a></li>
                    <li><a href="http://instagram.com/seanehalpin">instagram</a></li>
                    <li><a href="https://twitter.com/seanehalpin">twitter</a></li>
                    <li><a href="mailto:sean.e.halpin@gmail.com" class="email-lnk">hire me</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>© 2014 <a href="http://seanhalpin.io/">Sean Halpin</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
