{% load i18n %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-list">
                    <li><a href="#">{% trans "Legal Advice" %}</a></li>
                    <li><a href="#">{% trans "Cookies Policy" %}</a></li>
                    <li><a href="#">{% trans "Privacy Policy" %}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>© 2014, {% trans "All rights reserved" %}.</p>
            </div>
        </div>
    </div>
</footer>
