{% load static from staticfiles %}
<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <figure>
                        <img src="{% static "img/content/home/work/pencil.svg" %}">
                    </figure>
                    <h3>What I've been up to.</h3>
                    <p class="info">
                        Here's a selection of some recent work. For more up to the minute work you can visit me on <a class="new-window" href="http://dribbble.com/seanehalpin">dribbble</a> or <a class="new-window" href="http://twitter.com/seanehalpin">twitter</a>.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>
