{% load static from staticfiles %}
{% load i18n %}
<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                {% if img %}
                    <figure>
                        <img src="{% static img %}">
                    </figure>
                {% endif %}
                    <h3>{% trans title %}</h3>
                    {% autoescape off %}{{ body }}{% endautoescape %}
                </article>
            </div>
        </div>
    </div>
</section>
