{% load static from staticfiles %}
<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <figure>
                        <img src="{% static "img/content/home/work/pencil.svg" %}">
                    </figure>
                    <h3>{{ content.text.head.title }}</h3>
                    <p class="info"> {{ content.text.head.body }} </p>
                </article>
            </div>
        </div>
    </div>
</section>
