{% load static from staticfiles %}
{% load i18n %}
{% load avatar_tags %}
<section id="top">
    <header id="home-top" class="nav-top nav-fixed headroom headroom--not-top headroom--unpinned">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-xs-1">
                    <h1 id="header-logo" class="image">
                        <a href="{% url 'home' %}">
                        <img src="{% static "img/ui2/logo.png" %}">
                        </a>
                    </h1>
                    {% comment %}
                    <div>Icons made by Situ Herrera from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

                    {% endcomment %}
                </div>
                <div class="col-md-11 col-xs-11">
                    <nav id="top-nav">
                        <ul class="nav-list transistion">
                            <li><a href="#">{% trans "Notifications" %}</a></li>
                            <li><a href="#">{% trans "Explore" %}</a></li>
                            {% if user.is_authenticated %}
                            <li><button onclick="$('#profile-nav').toggle(200)" id="profile-element" class="profile-element btn-link btn">{% avatar user 23 %}{{user.username}}</button></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- 12 -->
            </div>
            {% if user.pk %}
            <div id="profile-nav" hidden class="row profile-nav">
                <div class="col-md-12 col-xs-12">
                    <nav id="">
                        <ul class="nav-list transistion profile-nav">
                            <li><a href="{% url 'userprofiles:profile' %}" class="fa fa-home color-secondary-hbgli-1"><div class="desc">{% trans "Account" %}</div></a></li>
                            <li><a href="{% url 'account_email' %}" class="fa fa-envelope color-secondary-hbgli-2"><div class="desc">{% trans "Change E-mail" %}</div></a></li>
                            <li><a href="{% url 'account_logout' %}" class="fa fa-sign-out color-secondary-hbgli-3"><div class="desc">{% trans "Sign Out" %}</div></a></li>
                            <li><a href="{% url 'poems:poem_add' %}" class="fa fa-pencil color-secondary-hbgli-4"><div class="desc">{% trans "New Poem" %}</div></a></li>
                            <li><a href="{% url 'poems:poem_list_user' user.pk %}" class="fa fa-align-left color-secondary-hbgli-5"><div class="desc">{% trans "My Poems" %}</div></a></li>
                            <li><a href="{% url 'poems:poem_list_favorites' user.pk %}" class="fa fa-star color-secondary-hbgli-6"><div class="desc">{% trans "My Favorites" %}</div></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- 12 -->
            </div>
            {% endif %}
            <!-- / row -->
        </div>
        <!--/ container -->
    </header>
    {% if front %}
    {% comment %}
    {% endcomment %}
    <div class="masthead-wrap">
        <div id="title" class="work-head">
            <div class="container">
                <div class="transistion cloud left-cloud-work"></div>
                <div class="transistion cloud right-cloud-work"></div>
                <div class="transistion flag flag-left"></div>
                <div class="transistion flag flag-right"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="head-slider" class="transistion">
                            <div class="slide-contents">
                                <div class="slide">
                                    <h2 class="work">
                                        <figure class="">
                                            <img src="{% static "img/ui2/title_head.png" %}">
                                        </figure>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /col 24 -->
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
    {% endif %}
</section>

