{% extends "layout.html" %}

{% load i18n %}
{% load i18n avatar_tags %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Django Avatar" %}{% endblock %}

{% block css_extra %}{% endblock %}

{% block content %}
    <h4>{% trans "Your current avatar: " %}</h4>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {% csrf_token %}
        {% bootstrap_form upload_avatar_form layout='inline' %}
        <button type="submit" class="primaryAction btn btn-lg btn-primary">
            {% trans "Upload New Image" %}
        </button>

    </form>
{% endblock %}
