
{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}
{% load favorite_tags %}

<section class="work-shots {{ class_name }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="poem">
                    <section class="text-center">
                        {# USERNAME #}
                        <h3><a href="{% url 'poems:poem_list_user' poem.user.pk %}" class="btn btn-link fa">{{ poem.user.username }}</a></h3>
                        {# AVATAR #}
                        <figure class="text-center avatar-container">
                            {% avatar poem.user %}
                        </figure>
                        <div class="title-container">
                            {# TITLE #}
                            <h2 class="title"> {{ poem.title }} </h2>
                            <div class="btn-group">
                            {% if poem.user == user %}
                            {# EDIT LINKS #}
                                <a class="fa fa-gear" href="{% url 'poems:poem_update' pk=poem.pk %}"></a>
                                <a class="fa fa-trash" href="{% url 'poems:poem_delete' pk=poem.pk %}"></a>
                            {% else %}
                            {# FAVORITE LINKS #}
                                {% favorite_button poem %}
                            {% endif %}
                            </div>
                        </div>
                        {# TAGS #}
                        <div class="btn-group">
                          <a href="{% url 'poems:poem_list_author' poem.author.pk %}" class="btn btn-link fa fa-graduation-cap "><span class="desc">{{ poem.author }}</span></a>
                          <a href="{% url 'poems:poem_list_book' poem.book.pk %}" class="btn btn-link fa fa-book"><span class="desc">{{ poem.book }}</span></a>
                        </div>
                        {# BODY #}
                        {% if mode == 'list' %}
                            <div class="poem-text">
                            <pre class="tk-adobe-garamond-pro">
                                {{ poem.body|truncatechars:250 }}
                            </pre>
                            </div>
                            <div class="show-more">
                                <a href="{% url 'poems:poem_detail' pk=poem.pk list=list %}" class="btn btn-primary">{% trans "go to poem" %}...<i class="drib"></i></a>
                            </div>
                        {% else %}
                            <div class="poem-text">
                            <pre class="tk-adobe-garamond-pro">
                                {{ poem.body }}
                            </pre>
                            </div>
                        {% endif %}
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>


