{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Add Poem" %}{% endblock %}


{% block content %}
	<form enctype="multipart/form-data" action="" method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <button type="submit" class="primaryAction btn btn-lg btn-primary">
        {% trans "Submit" %}
    </button>
	</form>
{% endblock %}
