{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block head_title %}{% trans object.title %}{% endblock %}


{% block content %}
        {% include "poems/poem_detail_body.html" with poem=object mode="detail" %}

        {% url 'poems:poem_detail' pk=previus.pk list=list as url_previus %}
        {% url 'poems:poem_detail' pk=next.pk list=list as url_next %}
        {% include "pagination.html" %}

{% endblock %}


