{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block head_title %}{% trans "Last Works" %}{% endblock %}


{% block content %}
    {% for poem in object_list %}
        <section class="work-shots">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shot">
                            <img style="display: inline;" class="lazy" src="http://lorempixel.com/800/538/" height="538" width="800">
                        </div>
                        <div class="shot-info">
                            <h2>{{ poem.title }}</h2>
                            <h3>{{ poem.user.username }}</h3>
                            <p>
                                {{ poem.body }}
                            </p>
                            <p class="btn-hldr shot-btn">
                                <a href="http://drbl.in/krrk" class="main-btn new-window">{% trans "go to poem" %}...<i class="drib"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% comment %}
        <li>{{ poem.pub_date|date }} - {{ poem.title }}</li>

        {% endcomment %}
    {% empty %}
        <h1>{% trans "No poems yet" %}</h1>
    {% endfor %}
{% endblock %}


