{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block head_title %}{{title}}{% endblock %}


{% block content %}
    {% for poem in object_list %}
    {% with forloop.counter|stringformat:"s" as forloop_counter %}
    {% with "color-secondary-"|add:forloop_counter as clname %}
        {% include "poems/poem_detail_body.html" with class_name=clname mode="list" %}
    {% endwith %}
    {% endwith %}
    {% empty %}
        <h1>{% trans "No poems yet" %}</h1>
    {% endfor %}
    {% if is_paginated %}
    <section class="pagination-section"> <div class="container"> <div class="row"> <div class="col-md-12">
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="glyphicon glyphicon-chevron-left" href="{% url 'poems:poem_list' %}?page={{ page_obj.previous_page_number }}"></a>
                {% else %}
                    <span class="glyphicon glyphicon-chevron-left"></span>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="glyphicon glyphicon-chevron-right" href="{% url 'poems:poem_list' %}?page={{ page_obj.next_page_number }}"></a>
                {% else %}
                   <span class="glyphicon glyphicon-chevron-right"></span>
                {% endif %}
            </span>
        </div>
    </div> </div> </section>
    {% endif %}
{% endblock %}


