{% extends "layout.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load avatar_tags %}

{% block head_title %}{{title}}{% endblock %}


{% block content %}
    {% include "head.html" %}
    {% for poem in object_list %}
    {% with forloop.counter|stringformat:"s" as forloop_counter %}
    {% with "color-secondary-"|add:forloop_counter as clname %}
        {% include "poems/poem_detail_body.html" with class_name=clname mode="list" %}
    {% endwith %}
    {% endwith %}
    {% empty %}
        <h1>{% trans "No poems yet" %}</h1>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_next and page_obj.has_previous %}
            {% with page_obj.next_page_number|stringformat:"s" as next_page_number %} {% with "?page="|add:next_page_number as url_next %}
            {% with page_obj.previous_page_number|stringformat:"s" as previous_page_number %} {% with "?page="|add:previous_page_number as url_previus %}
                {% include "pagination.html" with previus=page_obj.has_previous next=page_obj.has_next %}
            {% endwith %} {% endwith %}
            {% endwith %} {% endwith %}
        {% elif page_obj.has_next %}
            {% with page_obj.next_page_number|stringformat:"s" as next_page_number %} {% with "?page="|add:next_page_number as url_next %}
                {% include "pagination.html" with next=page_obj.has_next %}
            {% endwith %} {% endwith %}
        {% elif page_obj.has_previous %}
            {% with page_obj.previous_page_number|stringformat:"s" as previous_page_number %} {% with "?page="|add:previous_page_number as url_previus %}
                {% include "pagination.html" with previus=page_obj.has_previous %}
            {% endwith %} {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}


